.App {
  text-align: center;
}
.add-class {
  margin: 30px;
}

.task {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task-class {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  width: 350px;
  border: 1px solid grey;
  padding: 5px;
}